<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div th:replace="base :: nav"></div>
<!--<div class="container" id="jumbo-container">-->
<!--<div class="jumbotron">-->
<!--<h1>this is title</h1>-->
<!--</div>-->
<!--</div>-->


<div class="container">
    <div class="jumbotron">
        <h1>this is title</h1>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Instructor</th>
            <th>Credit</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.title}"></td>
            <td th:text="${course.instructor}"></td>
            <td th:text="${course.credit}"></td>
            <td>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <span th:if="${user_id == course.user.id}">
                        <a th:href="@{/update/{id}(id=${course.id})}" class="btn btn-info" role="button">Update</a>
                        <a th:href="@{/delete/{id}(id=${course.id})}" class="btn btn-info" role="button">Delete</a>
                        <a th:href="@{/detail/{id}(id=${course.id})}" class="btn btn-info" role="button">Details</a>
                    </span>
                </div>
                <div sec:authorize="hasAuthority('USER')">
                    <span>
                        <a th:href="@{/detail/{id}(id=${course.id})}" class="btn btn-info" role="button">Details</a>
                    </span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="base :: footer"></div>
</body>
</html>